.title-bar {
  background: #e35557;
  color: #ffffff;
  h1 {
    font-weight: 300;
    font-size: 2.4rem;
  }
}

// Create a subtitle element for title bar
// font size of 1.3rem and font weight to 400
// apply to h2 tag
.title-bar__subtitle {
  font-size: 1.3rem;
  font-weight: 400;
}
